

.play-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 15vh;
    max-width: 150px;
    height: 15vh;
    max-height: 150px;
    margin: auto;
    transition: background-color .2s;
    border: 2px solid #fff;
    border-radius: 100%;
    outline: none;
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
}

.play-button:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 27px;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin: auto;
    border-width: 30px 0 30px 50px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.play-button:hover {
    background-color: rgba(255, 255, 255, .4);
}

@media (max-width: 992px), (max-height: 500px) {
    .play-button {
        position: relative;
        width: 30vw;
        max-width: none;
        height: 30vw;
        max-height: none;
        margin: 8vh auto;
    }
}
